body {
    margin: 0;
    padding: 0;
}

.w30 {
    width: 30px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/* fđsfsdfsdf */
.mr30 {
    margin-right: 35px;
}
.clear {
    clear: both;
}

.drop-content {
    display: none;
    position: absolute;
    min-width: 160px;
    height: 20px;
    margin: 22px;
}

section.contact {
    height: 500px; 
    width: 20%; 
    float: right;
    background-color: #7EAAC5;
}

.dropdown:hover .drop-content {
    display: block;
}

.info{
    display: none;
}

.info:hover {
    display: block;
}

.dropdown {
    padding: 20px;
}

.dropdown .drop-content div {
    list-style-type: none;
    float: none;
    background-color: #A0B8C7;
}

.navbar {
    display: inline;
    overflow: hidden;
}

nav.navbar > div:nth-child(1){
    width: 15%; 
    float: left; 
    padding:8px; 
    background-color: #5DADE2
}

.navbar h2 {
    font-size: 16px;
    margin-left: 40px;
}

.navbar span {
    padding: 20px;
}

nav>span:first-child>i {
    margin: 8px;
    cursor: pointer;
}